h4{
  color: red;
  font-family: Georgia;
}

p{
  color: blue;
}

p{
  font-size: 23px;
}

p{  
  font-family: Georgia;
}

p{
  border: 4px solid powderblue;
}

p{
  padding: 30px;
}

h2{
  font-family: Georgia;
}

h3{
  font-family: Georgia;
}

